.wrapper {
    background-color: #f6f9fc;
    float: left;
    width: 100%;
    margin-top: 65px;
}
ul.nav-links-ul > li > a > i {
    font-size: 15px;
}
ul.nav-links-ul > li > a > span {
    font-size: 15px;
}
/* table no wrap for '-' character */
td {
    white-space: nowrap;
}